@using PIMWebMVC.Resources
@{
    Layout = null;
    const int startPage = 1;
    const string disableAtr = "disabled";
    string disableLast = Model.CurrentPage != Model.TotalPages ? string.Empty : disableAtr;
    string disableNext = Model.CurrentPage < Model.TotalPages ? string.Empty : disableAtr;
    string disablePrevious = Model.CurrentPage > startPage ? string.Empty : disableAtr;
    string disableFirst = Model.CurrentPage != startPage ? string.Empty : disableAtr;
}
@model PIMWebMVC.Models.Common.PaginationBarModel

<div class="col-md-1 float-right">
    @Model.CurrentPage / @Model.TotalPages
</div>
<div class="col-md-1 float-right">
    <button name="paging-button" @disableLast>@PIMResource.PAGINATION_LAST</button>
</div>
<div class="col-md-1 float-right">
    <button name="paging-button" @disableNext>@PIMResource.PAGINATION_NEXT</button>
</div>
<div class="col-md-1 float-right">
    <button name="paging-button" @disablePrevious>@PIMResource.PAGINATION_PREVIOUS</button>
</div>
<div class="col-md-1 float-right">
    <button name="paging-button" @disableFirst>@PIMResource.PAGINATION_FIRST</button>
</div>