@using PIMWebMVC.Resources
@{
    Layout = null;
    const int startPage = 1;
    const string disableAtr = "disabled";
    string disableLast = Model.CurrentPage != Model.TotalPages && Model.TotalPages != 0 ? string.Empty : disableAtr;
    string disableNext = Model.CurrentPage < Model.TotalPages ? string.Empty : disableAtr;
    string disablePrevious = Model.CurrentPage > startPage ? string.Empty : disableAtr;
    string disableFirst = Model.CurrentPage != startPage ? string.Empty : disableAtr;
}
@model PIMWebMVC.Models.Common.PaginationBarModel

<div class="col-md-1 float-right">
    @if (Model.TotalPages > 0)
    {
    <span>@Model.CurrentPage / @Model.TotalPages</span>
    }
</div>
<div class="col-md-1 float-right">
    <button name="last-pagination-btn" class="paging-button" @disableLast>@PIMResource.PAGINATION_LAST</button>
</div>
<div class="col-md-1 float-right">
    <button name="next-pagination-btn" class="paging-button" @disableNext>@PIMResource.PAGINATION_NEXT</button>
</div>
<div class="col-md-1 float-right">
    <button name="previous-pagination-btn" class="paging-button" @disablePrevious>@PIMResource.PAGINATION_PREVIOUS</button>
</div>
<div class="col-md-1 float-right">
    <button name="first-pagination-btn" class="paging-button" @disableFirst>@PIMResource.PAGINATION_FIRST</button>
</div>