@using PIMWebMVC.Resources
@using PIMWebMVC.Constants
@{
    ViewBag.Title = PIMResource.PROJECT_SEARCH_PAGE_TITLE;
    IProjectStatusesConstant projectStatues = new ProjectStatusesConstant();
}
@model PIM.Common.Models.SearchProjectParam

<hr />
<h3>@PIMResource.PROJECT_SEARCH_PAGE_TITLE</h3>
<hr />
<div class="form-horizontal">
    <p id="missing-criteria-lbl" class="text-danger display-none">@PIMResource.MESSAGE_INVALID_CRITERIA</p>
    <p id="server-error-message-lbl" class="text-danger display-none"></p>
    <p id="project-number-not-in-range-lbl" class="text-danger display-none">@PIMResource.MESSAGE_PROJECT_NUMBER_NOT_IN_RANGE</p>
    <div class="form-group">
        <div class="col-md-6">
            <label class="control-label col-md-4">@PIMResource.PROJECT_LBL_NUMBER</label>
            @Html.EditorFor(model => model.ProjectNumber, new { htmlAttributes = new { id = "number-search-txt", type = "number", @class = "col-md-8 form-control", autofocus = "" } })
        </div>
        <div class="col-md-6">
            <label class="control-label col-md-4">@PIMResource.PROJECT_LBL_CUSTOMER</label>
            @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { id = "customer-search-txt", @class = "form-control col-md-8", maxlength = "500" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label class="control-label col-md-4">@PIMResource.PROJECT_LBL_NAME</label>
            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "col-md-8 form-control", maxlength = "100", id = "name-search-txt" } })
        </div>
        <div class="col-md-6">
            <label class="control-label col-md-4">@PIMResource.PROJECT_LBL_STATUS</label>
            @Html.DropDownListFor(model => model.Status, new SelectList(projectStatues.PROJECT_STATUSES, "key", "value"), "", htmlAttributes: new { @class = "form-control", @id = "status-search-cbb" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
            <button id="search-projects-btn" name="default-button" class="btn btn-success">@PIMResource.BTN_SEARCH</button>
            <button id="reset-criteria-btn" class="btn btn-warning" disabled>@PIMResource.BTN_RESET_SEARCH</button>
        </div>
    </div>
    <div id="projects-search-result">
    </div>
</div>
<!-- Modal Confirm Delete-->
<div id="confirm-delete-modal" class="modal fade" role="dialog" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="model-title-custom">Confirmation</div>
            </div>
            <div class="modal-body">
                <h4>@PIMResource.MESSAGE_CONFIRM_DELETE_PROJECTS</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-projects-btn-in-modal" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Confirm Delete-->
@Scripts.Render("~/bundles/projectSearch")
<script>
    $(document).ready(function () {
        let createSuccessfullyMsg = '@ViewBag.CREATE_SUCCESS_MESSAGE';
        let updateSuccessfullyMsg = '@ViewBag.UPDATE_SUCCESS_MASSAGE';
        if (createSuccessfullyMsg) {
            showSuccessNotify(createSuccessfullyMsg);
        }
        if (updateSuccessfullyMsg) {
            showSuccessNotify(updateSuccessfullyMsg);
        }
    });
</script>