@using PIMWebMVC.Resources
@using PIMWebMVC.Constants
@using System.Globalization

@{
    ViewBag.Title = PIMResource.PROJECT_DETAILS_PAGE_TITLE;
    IProjectStatusesConstant projectStatuses = new ProjectStatusesConstant();
    string currentDateFormat = CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.Replace("M", "m").Replace("yy", "y");
}
@model PIMWebMVC.Models.Projects.ProjectModel
<hr />
@if (Model.ProjectID.HasValue)
{
    <h3>@PIMResource.PROJECT_EDIT_MODE</h3>
}
else
{
    <h3>@PIMResource.PROJECT_CREATE_MODE</h3>
}
@using (Html.BeginForm("CreateOrUpdate", "Projects", FormMethod.Post, new { @id = "project-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <label hidden id="currentDateFormat">@currentDateFormat</label>
        <label hidden id="form-has-error-lbl">@ViewBag.FormHasError</label>
        @Html.ValidationMessage(ErrorsConstant.SUM_ERROR_SPECIAL_CHARACTERS_FIELD_NAME, new { @class = "text-danger custom-validation-message" })
        @Html.ValidationMessage(ErrorsConstant.SUM_ERROR_FIELD_NAME, new { @class = "text-danger custom-validation-message" })
        @Html.ValidationMessageFor(x => x.EndDate, "", new { @class = "text-danger custom-validation-message" })
        @Html.ValidationMessageFor(x => x.ProjectNumber, "", new { @class = "text-danger custom-validation-message" })
        <div class="form-group">
            @Html.HiddenFor(x => x.ProjectID, new { htmlAttributes = new { id = "ProjectId" } })
            @Html.HiddenFor(x => x.Version)
            <div class="col-md-2">
                <label class="control-label" for="ProjectNumber">@PIMResource.PROJECT_LBL_NUMBER*</label>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.ProjectNumber, new { htmlAttributes = new { @class = "form-control", autofocus = "" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label" for="ProjectName">@PIMResource.PROJECT_LBL_NAME*</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control project-max-width", maxlength = "100" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label" for="ProjectName">@PIMResource.PROJECT_LBL_CUSTOMER*</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control project-max-width", maxlength = "500" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label" for="Status">@PIMResource.PROJECT_LBL_STATUS*</label>
            </div>
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.Status, new SelectList(projectStatuses.PROJECT_STATUSES, "key", "value"), "", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label" for="StartDate">@PIMResource.PROJECT_LBL_START_DATE*</label>
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.StartDate,
               new { htmlAttributes = new { @class = "form-control date-picker", @id = "start-date" } })
            </div>
            <div class="col-md-2">
                <label class="control-label" for="EndDate">@PIMResource.PROJECT_LBL_END_DATE</label>
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.EndDate,
               new { htmlAttributes = new { @class = "form-control date-picker", @id = "end-date" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <input type="submit" id="save-project-btn" name="default-button" value="@PIMResource.BTN_SAVE" class="btn btn-success" />
                @Html.ActionLink(PIMResource.BTN_CANCEL, "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/project")